
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel


    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
        <user-picture-thumbnail picture-url="@Model.PictureUrl" style="width:300px"></user-picture-thumbnail>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1> Üye Bilgileri </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        <th>Telefon Numarası</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Model.UserName</td>
                        <td>@Model.Email</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>