
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PasswordChangeViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Şifre Yenileme</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Başarıyla kayıt oldun!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0"> @TempData["SuccessMessage"]</p>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }


     
        <form asp-controller="Member" asp-action="PasswordChange" method="post">

            <div class="row mb-3">
            <label for="" class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                    <div>
            <input asp-for="OldPassword" class="form-control">
            <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
            </div>
                
            <div class="row mb-3">
            <label for="PasswordNew" asp-for="PasswordNew"></label>
                <div>
                <input asp-for="PasswordNew" class="form-control">
                <span class="text-danger" asp-validation-for="PasswordNew"></span>

                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" asp-for="PasswordConfirm"></label>
                <div>
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <div class="row mb-3">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">Şifre değiştir</button>
                </div>
            </div>

        </form>

        </div>
    </div>
</div>