
@{
    ViewData["Title"] = "RoleDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model AdminModel.RoleDeleteViewModel




<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }

        <form asp-action="RoleDelete">
            <h2>Role silme</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="sil" class="btn btn-danger" />
            </div>

        </form>
    </div>

</div>

<div>
    <a asp-action="Index">
        Back to List
    </a>
</div>

@section Scripts {
    @{
        Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}